/* Custom font (for non-Windows systems) */
@font-face {
    font-family: "Selawik";
    src: url("/font/selawk.woff2") format("woff2"),
         url("/font/selawk.woff") format("woff"),
         url("/font/selawk.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: "Selawik";
    src: url("/font/selawkb.woff2") format("woff2"),
         url("/font/selawkb.woff") format("woff"),
         url("/font/selawkb.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Semibold */
@font-face {
    font-family: "Selawik";
    src: url("/font/selawksb.woff2") format("woff2"),
         url("/font/selawksb.woff") format("woff"),
         url("/font/selawksb.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Change font var */
:root {
    --font: 9pt "Segoe UI", "SegoeUI", "Selawik", "Noto Sans", sans-serif !important;
}

body {
    background: #91AF7E;
    background: linear-gradient(180deg, #809D6D 0%, #91AF7E 55%, #57694A 100%);
    background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
    color: #809D6D;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 300px;
    padding: 0px 20px 0px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .sm-flex-column {
        flex-direction: column !important;
    }

    .sm-mb-post-preview {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 501px) {
    .button-margin {
        margin-left: 0.25rem;
    }
}

.icon {
    width: 16px;
    height: 16px;
}

.icon-lg {
    width: 36px;
    height: 36px;
}

ul [role=menuitem] img {
    left: 6px;
}

ul [role=menuitem]:has(img) {
    padding-left: 26px !important;
}

[role=menuitem] ul[role=menu] {
    z-index: 9000;
}

button .icon {
    vertical-align: bottom;
}

[role=menuitem] {
    cursor: pointer;
}

.blog-post-content h1:not(:first-child), .blog-post-content h2:not(:first-child), .blog-post-content h3:not(:first-child), .blog-post-content h4:not(:first-child), .blog-post-content h5:not(:first-child) {
    margin-top: 10px;
}

.blog-post-content h1, .blog-post-content h2, .blog-post-content h3, .blog-post-content h4, .blog-post-content h5 {
    margin-bottom: 10px;
}