<div class="flex flex-row justify-center items-center" style="margin-top: 1rem; width: 100%; z-index: 1000;">
    <div class="window glass active" style="--window-background-color: #96B844; width: 100%; z-index: 1000;">
        <div class="title-bar">
        </div>
        <div class="window-body">
            <div class="flex flex-row items-center" style="margin: 1rem;">
                <div class="window glass active" style="max-width: calc(64px + 13px); --window-background-color: #96B844;">
                    <div class="title-bar">
                    </div>
                    <div class="window-body" style="height: 64px;">
                        <img src="/img/trm_logo.jpg" style="width: 64px; height: 64px;" />
                    </div>
                </div>
                <div class="justify-center items-center" style="margin-left: 1.25rem;">
                    <h4 style="font-size: 1.25rem; font-weight: 500; margin-bottom: 0.25rem;">TheRandomMelon</h4>
                    <p>Video editing/creation, Twitch streaming, web design, software dev, and too much more</p>
                </div>
            </div>
            <ul role="menubar" class="can-hover sm-flex-column">
                <li role="menuitem" tabindex="0" onclick="window.location.href = '/';"><img src="/img/icon/home.ico" class="icon" /> Home</li>
                <li role="menuitem" tabindex="0" onclick="window.location.href = '/about';"><img src="/img/icon/about.ico" class="icon" /> About</li>
                <li role="menuitem" tabindex="0" aria-haspopup="true" onclick="window.location.href = '/projects';">
                    <img src="/img/icon/projects.ico" class="icon" /> Projects
                    <ul role="menu">
                        <li role="menuitem"><a href="https://vanillo.tv">Vanillo</a></li>
                        <li role="menuitem"><a href="https://leagueopoly.com">Leagueopoly</a></li>
                        <li role="menuitem"><a href="https://youtube.com/@foolsinabarrel">Fools in a Barrel</a></li>
                        <li role="menuitem" class="has-divider"><a href="https://youtube.com/@chromaforgeband">Chromaforge</a></li>
                        <li role="menuitem"><a href="https://github.com/HistacomUnity/HistacomUnity">Histacom</a></li>
                        <li role="menuitem"><a href="https://twitter.com/QuizelEDU">Quizel</a></li>
                        <li role="menuitem"><a href="https://github.com/TheRandomMelon/polaris">Polaris</a></li>
                    </ul>
                </li>
                <li role="menuitem" tabindex="0" aria-haspopup="true">
                    <img src="/img/icon/socials.ico" class="icon" /> Socials
                    <ul role="menu">
                        <li role="menuitem"><a href="https://twitter.com/michaelwebbtrm">Twitter</a></li>
                        <li role="menuitem"><a href="https://youtube.com/@TheRandomMelon">YouTube</a></li>
                        <li role="menuitem"><a href="https://twitch.tv/therandommelon">Twitch</a></li>
                        <li role="menuitem"><a href="https://github.com/therandommelon">GitHub</a></li>
                        <li role="menuitem"><a href="https://wetdry.world/@trm" rel="me">Mastodon</a></li>
                        <li role="menuitem"><a href="https://letterboxd.com/TheRandomMelon">Letterboxd</a></li>
                    </ul>
                </li>
                <li role="menuitem" tabindex="0" onclick="window.location.href = '/contact';"><img src="/img/icon/contact.ico" class="icon" /> Contact</li>
            </ul>
        </div>
    </div>
</div>